
.root{
    -fx-font-size: 25pt;
    -fx-font-family: "Courier NeCourierw";
    -fx-background-color: #263959;
    -fx-spacing: 0;
    -fx-padding: 0;
    -fx-text-fill:white;
   
}
.iView1{
    -fx-border-color: red;
}
.lblTitle{
    
    -fx-font-size: 85pt;
    -fx-text-fill: red;
}

.button{
    -fx-border-color: whitesmoke;
    -fx-background-color: #263959;
    -fx-text-fill: whitesmoke;
    -fx-alignment: bottom-right;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #263959;
    -fx-border-color: red;
}
